/* heading */
/* paragraph */
body {
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
  background-image: url("../images/bcg_wall.jpg");
  background-repeat: no-repeat;
  /*background-size: cover;*/
  background-attachment: fixed;
  height: 100%;
  font-family: 'Just Another Hand', cursive; }
  @media screen and (max-width: 768px) {
    body {
      background-position: -650px; } }

.margin-top {
  margin-top: 20px; }

#to-do-form .heading {
  font-size: 40px;
  font-weight: 700;
  color: #f5f8fa; }
#to-do-form .to-do-field {
  background-image: url("../images/yellow-notepad-paper.png");
  background-repeat: repeat-y;
  background-position: -80px;
  background-size: 110%;
  border-radius: 4px;
  padding-left: 20px;
  border: 1px solid #ccc;
  color: #555;
  border-radius: 2px;
  font-size: 30px; }
  @media screen and (max-width: 768px) {
    #to-do-form .to-do-field {
      background-size: 200%; } }
#to-do-form .btn-submit, #to-do-form .to-do-field {
  height: 50px;
  width: 100%; }

.lists {
  padding-left: 0; }
  .lists .list {
    position: relative;
    list-style-type: none;
    background-image: url("../images/yellow-notepad-paper.png");
    background-repeat: repeat-y;
    background-position: -102px;
    background-size: 110%;
    border: 1px solid #555;
    background-color: #f5f5f5;
    border-radius: 4px;
    margin-top: 20px;
    padding: 20px 20px;
    backface-visibility: hidden; }
    @media screen and (max-width: 768px) {
      .lists .list {
        background-size: 200%; } }
    .lists .list:hover {
      /*scaling causes weird pixelated/blurry text effect */
      /*@include transform(perspective(1px) scale(1.005));*/
      margin-left: -3px;
      margin-right: -3px;
      -webkit-transition: margin 0.35s ease-in-out;
      -moz-transition: margin 0.35s ease-in-out;
      -o-transition: margin 0.35s ease-in-out;
      transition: margin 0.35s ease-in-out; }
    .lists .list .list-description {
      font-size: 30px;
      padding-left: 10px;
      width: 80%;
      padding-right: 30px;
      display: inline-block;
      vertical-align: top; }
      .lists .list .list-description.done {
        text-decoration: line-through; }
      .lists .list .list-description .time-stamp {
        color: #797979;
        font-size: 20px;
        display: none; }
        .lists .list .list-description .time-stamp.active {
          display: inline; }
      @media screen and (max-width: 544px) {
        .lists .list .list-description {
          width: 87%;
          padding-right: 0; } }

.list-container .checkbox {
  display: inline;
  zoom: 2; }
.list-container .input-cannot-be-empty, .list-container .no-list-to-delete {
  display: none;
  font-size: 25px; }
  .list-container .input-cannot-be-empty.active, .list-container .no-list-to-delete.active {
    display: block;
    margin-top: 10px;
    margin-left: 10px; }
.list-container .options-wrapper {
  margin-top: 10px; }
  .list-container .options-wrapper .toggle-time-btn {
    display: inline-block;
    margin-left: 15px;
    color: white;
    vertical-align: top; }
    .list-container .options-wrapper .toggle-time-btn .time-desc {
      font-size: 20px;
      margin-top: -5px;
      margin-bottom: -5px; }
    .list-container .options-wrapper .toggle-time-btn #toggle-time-stamp .btn-time-hide, .list-container .options-wrapper .toggle-time-btn #toggle-time-stamp .btn-time-show {
      font-size: 15px;
      padding-bottom: 0; }
.list-container .btn-delete-all, .list-container .btn-no, .list-container .btn-yes {
  width: 100px; }
.list-container .messages .confirmation-text {
  font-size: 30px; }
  .list-container .messages .confirmation-text .red {
    color: red; }
.list-container .messages #delete-all-confirmation {
  margin-top: 10px; }
.list-container .messages .btn-no, .list-container .messages .btn-yes {
  margin-right: 15px; }
.list-container .btn-delete {
  position: absolute;
  right: 20px;
  width: 100px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media screen and (max-width: 544px) {
    .list-container .btn-delete {
      position: static;
      display: block;
      width: 100%;
      margin-top: 10px;
      -webkit-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none; } }

.btn {
  font-size: 25px; }

.done-true {
  text-decoration: line-through; }

/*# sourceMappingURL=style.css.map */
