@import "partials/_fonts.scss";
@import "partials/_colors.scss";
@import "partials/_helpers.scss";

body {
  background-color: $background-color-1;
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
  background-image: url("../images/bcg_wall.jpg");
  background-repeat: no-repeat;
  /*background-size: cover;*/
  background-attachment: fixed;
  height: 100%;
  font-family: 'Just Another Hand', cursive;

  @media screen and (max-width: 768px) {
    background-position: -650px;
  }
}

.margin-top {
  margin-top: $margin-default;
}

#to-do-form {
  .heading {
    font-size: $font-size-larger;
    font-weight: 700;
    color: $background-color-2;
  }

  .to-do-field {
    background-image: url("../images/yellow-notepad-paper.png");
    background-repeat:  repeat-y;
    background-position: -80px;
    background-size: 110%;
    border-radius: 4px;
    padding-left: $padding-default;
    border: 1px solid $border-3;
    color: $gray-darker;
    border-radius: 2px;
    font-size: $font-size-large;

    @media screen and (max-width: 768px) {
      background-size: 200%;
    }
  }

  .btn-submit, .to-do-field {
    height: 50px;
    width: 100%;
  }
}

.lists {
  padding-left: 0;

  .list {
    position: relative;
    list-style-type: none;
    background-image: url("../images/yellow-notepad-paper.png");
    background-repeat:  repeat-y;
    background-position: -102px;
    background-size: 110%;
    border: 1px solid $gray-darker;
    background-color: $background-color-1;
    border-radius: 4px;
    margin-top: $margin-default;
    padding: $padding-default $padding-default;
    backface-visibility: hidden;
    @media screen and (max-width: 768px) {
      background-size: 200%;
    }

    &:hover {
       /*scaling causes weird pixelated/blurry text effect */
      /*@include transform(perspective(1px) scale(1.005));*/
      margin-left: -3px;
      margin-right: -3px;
      @include transition(margin .35s ease-in-out);
    }

    .list-description {
      font-size: $font-size-large;
      padding-left: 10px;
      width: 80%;
      padding-right: $padding-large;
      display: inline-block;
      vertical-align: top;

      &.done {
        text-decoration: line-through;
      }

      .time-stamp {
        color: $gray-light;
        font-size: $font-size-small;
        display: none;

        &.active {
          display: inline;
        }
      }
      @media screen and (max-width: 544px) {
        width: 87%;
        padding-right: 0;
      }
    }
  }
}

.list-container {
  .checkbox {
    display: inline;
    zoom: 2;
  }

  .input-cannot-be-empty, .no-list-to-delete {
    display: none;
    font-size: $font-size-default;

    &.active {
      display: block;
      margin-top: 10px;
      margin-left: 10px;
    }
  }

  .options-wrapper {
    margin-top: 10px;

    .toggle-time-btn {
      display: inline-block;
      margin-left: 15px;
      color: white;
      vertical-align: top;

      .time-desc {
        font-size: 20px;
        margin-top: -5px;
        margin-bottom: -5px;
      }

      #toggle-time-stamp {
        .btn-time-hide, .btn-time-show {
          font-size: 15px;
          padding-bottom: 0;
        }
      }
    }
  }

  .btn-delete-all, .btn-no, .btn-yes {
    width: 100px;
  }

  .messages {
    .confirmation-text {
      font-size: $font-size-large;

      .red {
        color: red;
      }
    }

    #delete-all-confirmation {
      margin-top: 10px;
    }

    .btn-no, .btn-yes {
      margin-right: 15px;
    }
  }

  .btn-delete {
    position: absolute;
    right: 20px;
    width: 100px;
    top: 50%;
    @include transform(translateY(-50%));

    @media screen and (max-width: 544px) {
      position: static;
      display: block;
      width: 100%;
      margin-top: 10px;
      @include transform(none);
    }
  }
}

.btn {
  font-size: $font-size-default;
}