body {
  background-color: #f5f8fa;
}

.items-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  .to-do-field {
    width: 350px;
  }

  .list {
    list-style-type: none;
  }

  .done {
    text-decoration: line-through;
  }
}