$gray-heading: #666666; /* heading */
$gray-dark: #333333; /* paragraph */
$gray-light: #797979;
$gray-darkest: #424242;
$gray-darker: #555;
$orange: #EDA33A;
$orange-shadow: #ec8a00;
$white: #FFFFFF;
$background-color-1: #f5f5f5;
$background-color-2: #f5f8fa;
$border-1: #d8d3d8;
$border-2: #d5d5d5;
$border-2-shadow: #f0f0f0;
$border-3: #ccc;