<!DOCTYPE html>
<html>
<head>
  <title>To Do List - Angular</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='https://fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css'>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="../scss/style.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- jStorage better solution than HTML5 localstorage due to cross browsers support -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jStorage/0.4.12/jstorage.min.js"></script>

  <!-- for time -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

  <!-- for angular portion of app only -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
  <!-- using ng ui router -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.min.js"></script>
</head>
<body ng-app="persistentToDoApp">

  <div class="container margin-top" ng-controller="PersistentToDoListCtrl as toDoList">
    <div class="row">
      <form id="to-do-form" ng-submit="toDoList.addList()">
        <div class="col-sm-12">
          <div class="alert">
            <h1 class="heading">The World Most Persistent To-Do List without a Database!</h1>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-9">
            <input class="to-do-field" type="text" placeholder="What would you like to do?" ng-model="toDoList.addText">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <input type="submit" value="Add" name="add" class="btn btn-success btn-submit">
          </div>
        </div>
      </form>
    </div>

    <div class="list-container">
      <div class="alert alert-danger input-cannot-be-empty">
        <strong>You cannot create an empty list!</strong>
      </div>
      <div class="options-wrapper">
        <button class="btn btn-danger btn-delete-all" type="button" data-toggle="collapse" aria-expanded="false" aria-controls="delete-all-confirmation">Delete All</button>
        <span class="toggle-time-btn">
          <div class="time-desc">Show Time-Stamp?</div>
          <div class="btn-group" id="toggle-time-stamp">
            <button type="button" class="btn btn-default btn-time-hide">HIDE</button>
            <button type="button" class="btn btn-success btn-time-show">SHOW</button>
          </div>
        </span>
      </div>

      <div class="messages">
        <div class="collapse" id="delete-all-confirmation">
          <div class="alert alert-info">
            <p class="confirmation-text">This will <span class="red">delete all</span> to-do lists stored in your browser. Continue?</p>
            <div class="confirmation-btn">
              <button class="btn btn-info btn-no">No</button>
              <button class="btn btn-info btn-yes">Yes</button>
            </div>
          </div>
        </div>
        <div class="alert alert-info no-list-to-delete">
          <strong>There is nothing to delete!</strong>
        </div>
      </div>
      <ul class="lists">
        <li class="list list--" data-complete="{{complete}}"  data-index="{{  }}" ng-repeat="list in toDoList.lists">
          <input type="checkbox" class="checkbox" ng-model="toDoList.complete">
          <span class="list-description {{list.complete}}">{{ list.description }} <span class="time-stamp active {{list.complete}}">[Created At: {{ list.time }}]</span></span>
          <button class="btn btn-danger btn-delete">Delete</button>
        </li>
      </ul>
    </div>
  </div>

<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="persistentList.js"></script>
</body>
</html>